.button {

	letter-spacing  : 1px;
	position        : relative;
	height          : auto;
	width           : auto;
	display         : inline-block;
	padding         : 0.85em 1.5em;
	color           : #fff;
	font-size       : 0.8em;
	background      : $shakespeare;
	text-transform  : uppercase;
	text-decoration : none;
	font-weight     : 700;
	line-height     : 1.2;
	box-shadow      : 0px 3px 0px $astral;
	transition      : background-color 0.3s ease, box-shadow 0.3s ease;
	border          : 0px solid transparent;

	&.button-outline {
		border-color:$shakespeare;
		color:$shakespeare;
	}

	&:hover,
	&:active,
	&:focus {
		color      : #fff;
		background : $astral;
		box-shadow : 0px 0px 0px rgba(61, 150, 208, 0.75);
	}

	&.button-white {

		background : $white;
		color      : $shakespeare;
		box-shadow : 0px 0px 0px rgba(255, 255,255, 0);

		&.button-arrow:after {
			background:url(../../images/caret-right-blue.svg) right center no-repeat transparent;
		}

		&.button-outline {
			border-color:$white;
			color:$white;
		}

	}

	&.button-arrow {

		padding : 0.85em 2.15em 0.85em 1.5em;

		&:after {
			content:'';
			background:url(../../images/caret-right-white.svg) right center no-repeat transparent;
			position: absolute;
			width: 5px;
			height: 100%;
			right: 1.6em;
			top:0px;
		}

	}

	&.button-outline {
		border           : 2px solid transparent;
		background-color : transparent;
		box-shadow       : 0px 0px 0px transparent;
		text-transform: none;

		&:hover,
		&:active,
		&:focus {
			background : transparent;
		}

	}

	&.button-large {
		font-size : 1.1em;
	}

}