.client-logos {
  @include group;
  list-style-type:none;
  margin:0;
  padding:0 0 1em 0;
}

.client-logo {

  width:12.285%;
  height:120px;
  background-size:100% auto;
  background-repeat:no-repeat;
  background-color: transparent;
  background-position: center center;
  float:left;
  margin:1%;
  padding:0;
  text-indent:-9999px;

}

.client-logo-cocacola {
  background-image:url(../images/client-logo-cocacola.svg);
}

.client-logo-turner {
  background-image:url(../images/client-logo-turner.svg);
}

.client-logo-target {
  background-image:url(../images/client-logo-target.svg);
}

.client-logo-nfl {
  background-image:url(../images/client-logo-nfl.svg);
}

.client-logo-ford {
  background-image:url(../images/client-logo-ford.svg);
}

.client-logo-amira {
  background-image:url(../images/client-logo-amira.svg);
}

.client-logo-pioneer {
  background-image:url(../images/client-logo-pioneer.svg);
}

.client-logo-nhl {
  background-image:url(../images/client-logo-nhl.svg);
}

.client-logo-chamilia {
  background-image:url(../images/client-logo-chamilia.svg);
}

.client-logo-nba {
  background-image:url(../images/client-logo-nba.svg);
}

.client-logo-lifetime {
  background-image:url(../images/client-logo-lifetime.svg);
}

.client-logo-espn {
  background-image:url(../images/client-logo-espn.svg);
}

.client-logo-mazda {
  background-image:url(../images/client-logo-mazda.svg);
}

.client-logo-jockey {
  background-image:url(../images/client-logo-jockey.svg);
}

.client-logo-mlb {
  background-image:url(../images/client-logo-mlb.svg);
}

.client-logo-ncaa {
  background-image:url(../images/client-logo-ncaa.svg);
}

.client-logo-disney {
  background-image:url(../images/client-logo-disney.svg);
}

.client-logo-campbells {
  background-image:url(../images/client-logo-campbells.svg);
}

.client-logo-wnba {
  background-image:url(../images/client-logo-wnba.svg);
}

.client-logo-generalmills {
  background-image:url(../images/client-logo-generalmills.svg);
}

.client-logo-papajohns {
  background-image:url(../images/client-logo-papajohns.svg);
}

.client-logo-mars {
  background-image:url(../images/client-logo-mars.svg);
}

.client-logo-nascar {
  background-image:url(../images/client-logo-nascar.svg);
}

.client-logo-1800contacts {
  background-image:url(../images/client-logo-1800contacts.svg);
}

.client-logo-buick {
  background-image:url(../images/client-logo-buick.svg);
}

.client-logo-fox {
  background-image:url(../images/client-logo-fox.svg);
}

.client-logo-easports {
  background-image:url(../images/client-logo-easports.svg);
}

.client-logo-herschend {
  background-image:url(../images/client-logo-herschend.svg);
}